{# Video Gallery Logic #}

{% set con 			= content_block %}
{% set video_title 	= con.block_title %}
{% set videos 		= con.videos %}
{% set video_text 	= con.video_text %}

<section class="container video-gallery">
	{% if video_title %}
		<header>
			<h2>{{ video_title }}</h2>
		</header>
	{% endif %}

	{% if video_text %}
		<article class="gallery-text">
			{{ video_text }}
		</article>
	{% endif %}

	<div class="light-gallery-videos row">

		{% for vid in videos %}

			{% set vid_poster 	= vid.video_poster %}
			{% set vid_title 	= vid.video_title %}
			{% set vid_desc 	= vid.video_text %}
			{% set vid_url 		= vid.video_url %}

			<div class="inner">

				<figure class="panel panel-default video-item" data-src="https://www.youtube.com/embed/{{ vid_url }}">

					<div class="panel-heading">
						<div class="">
							<h4><i class="fa fa-play"></i></h4>
						</div>
					</div>

					<img src="{{ TimberImage(vid_poster).src }}" class="img-respond" alt="{{ vid_title }}">

					<div class="panel-body inner-overlay">
						<div class="overlay-text">
							<h4>{{ vid_title }}</h4>
							<p>{{ vid_desc }}</p>
						</div>
					</div>

				</figure>

			</div>

		{% endfor %}

	</div>

</section>
