{# Full width image with parallax option #}

{% set con = content_block %}
{% set parallax = con.parallax_this %}
{% set parallax_speed = con.parallax_speed %}
{% set overlay = con.turn_on_overlay %}
{% set title = con.title %}
{% set text = con.text %}
{% set image = con.image %}

{% if(parallax) %}
	<!-- This uses parallax.js http://pixelcog.github.io/parallax.js/ -->
	<section class="container-fluid full-width-image-parallax img-respond"
		data-parallax="scroll"
		data-image-src="{{ TimberImage(image).src }}"
		data-speed="{{ parallax_speed }}"
		data-bleed="1"
		style="">

		{% if overlay %}

			<article class="overlay-text">

				<header>
					<h1>{{ title }}</h1>
				</header>

				<aside class="text">
					{{ text }}
				</aside>

			</article>

		{% endif %}
	</section>
{% else %}

	<section class="container-fluid full-width-image">

		<figure class="image">
			<img src="{{ TimberImage(image).src }}" alt="{{ TimberImage(image).alt }}" class="img-respond">
		</figure>

		{% if overlay %}

			<article class="overlay-text">

				<header>
					<h1>{{ title }}</h1>
				</header>

				<aside class="text">
					{{ text }}
				</aside>

			</article>

		{% endif %}

	</section>

{% endif %}
