{# Downloads Logic #}

{% set con = content_block %}
{% set download_title = con.downloads_title %}
{% set download_text = con.downloads_text %}

<section class="container download-links">

	{% if download_title %}
		<header>
			<h2>{{ download_title }}</h2>
		</header>
	{% endif %}

	{% if download_text %}
		<article class="gallery-text">
			{{ download_text }}
		</article>
	{% endif %}

	<div class="row">

		{% for dl in con.downloads %}

			{% set button_type = dl.download_element_button_type %}
			{% set download_image = dl.download_image %}
			{% set download_text = dl.download_text %}
			{% set link_title = dl.download_element_link_title %}

			{% if button_type == "internal" %}
				{% set target = "" %}
				{% set url = dl.download_element_inturl %}
			{% elseif button_type == "external" %}
				{% set target = "target='_blank'" %}
				{% set url = dl.download_element_exturl %}
			{% elseif button_type == "file" %}
				{% set target = "target='_blank'" %}
				{% set url = dl.download_element_fileurl %}
			{% endif %}


		<article class="download-item match">

			<div class="panel panel-default">

				{% if download_image %}

					<figure class="panel-body">
						<img src="{{ TimberImage(download_image).src }}" class="img-respond" alt="{{ TimberImage(download_image).alt }}">
					</figure>

				{% endif %}

				<aside class="panel-footer">

					<h4>{{ link_title }}</h4>
					{{ download_text }}

					{% if button_type == "internal" %}
						<a href="{{ url }}" class="btn btn-default" {{ target }}>Download</a>
					{% elseif button_type == "external" %}
						<a href="{{ url }}" class="btn btn-default" {{ target }}>Download</a>
					{% elseif button_type == "file" %}
						<a href="{{ url }}" class="btn btn-default" {{ target }}>Download</a>
					{% endif %}

				</aside>

			</div>

		</article>

		{% endfor %}

	</div>

</section>
