{# Uses the standard Bootstrap navigation system #}

<body class="{{ body_class }}" >

<header id="header" class="container-fluid">
    <div class="row">

		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">

				<div class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
					<div></div>
					<div></div>
					<div></div>
				</div>

				<a href="{{function('bloginfo','url')}}/" title="{{ function('wp_title') }}" rel="homepage" class="navbar-brand">
					{{ function('bloginfo','title') }}
				</a>

			</div>

			{# Collect the nav links, forms, and other content for toggling #}

			<div class="collapse navbar-collapse" id="nav-menu">
				{{ function('seed_main_nav') }}
			</div>

		</nav>

    </div>
</header>
